---
import Counter from "./Counter.svelte";
import Presen from "./Presensi.svelte";
import Compressor from "./Compressor.svelte";
import Card from "./Card.svelte";
---

<Compressor client:only="svelte" />
<div class="flex flex-col md:flex-row gap-5">
  <Counter client:visible />
  <Card client:visible />
</div>

<style>
  #feature-five {
    overflow-y: auto; /* Mengaktifkan scrolling bila diperlukan */
    scrollbar-width: none; /* Untuk browser yang mendukung, seperti Firefox */
  }

  #feature-five::-webkit-scrollbar {
    display: none; /* Untuk browser WebKit seperti Chrome dan Safari */
  }
</style>
