---
import Counter from "./Counter.svelte";
import Compressor from "./Compressor.svelte";
import Card from "./Card.svelte";
---
<Compressor client:only="svelte" />


<div class="flex flex-col md:flex-row gap-5">
  <Counter client:visible />
  <Card client:visible />
</div>


<style>
  #feature-five {
    overflow-y: auto; 
    scrollbar-width: none;

  #feature-five::-webkit-scrollbar {
    display: none; 
  }
</style>