---
import ToggleMenu from "./ToggleMenu.astro";
import { Image } from "astro:assets";
import myImage from "@assets/icon.webp";

/** Main menu items */
const textLinks: { label: string; href: string }[] = [
  { label: "Blog", href: "/blog/" },
  { label: "Services", href: "/services/" },
  { label: "About", href: "/about/" },
];

const Service_link = [
  {
    name: "Presensi QR",
    href: "/",

    aria: "presensi-qr-code",
    text: "Presensi QR",
  },
  {
    name: "Compress Gambar",
    href: "/services/compress-gambar",
    aria: "compress-gambar-link",
    text: "Compress Gambar",
  },
  {
    name: "Jadwal KRL Solo-Jogja",
    href: "/services/krl-solo-jogja",
    aria: "jadwal-krl-solo-jogja-link",
    text: "Jadwal KRL Solo-Jogja",
  },
  {
    name: "Quiz Fikih",
    href: "/services/quiz-fikih",
    aria: "quiz-fikih-link",
    text: "Quiz Fikih",
  },
  {
    name: "Smart Dictionary",
    href: "/services/smart-dictionary",
    aria: "smart-dictionary-link",
    text: "Smart Dictionary",
  },
  {
    name: "Pemendek Link",
    href: "/services/pemendek-link",
    aria: "pemendek-link-link",
    text: "Pemendek Link",
  },
  {
    name: "Banyak lagi",
    href: "#footer",
    aria: "footer",
    text: "Banyak lagi 😄",
  },
];
---

<header
  class="font-mono z-40 flex-none mx-auto w-[97%] backdrop-blur-10 rounded-md bg-white/30 dark:bg-[#050505]/20 md:backdrop-blur-sm"
  id="header"
  style="transition: transform 0.5s ease 0s; transform: translateY(0px);"
>
  <div class="mx-auto lg:flex lg:justify-between md:px-4">
    <div class="flex top-0 gap-2 px-4 py-6 justify-between">
      <a
        href="/"
        class="flex gap-2 items-center text-transparent bg-clip-text bg-gradient-to-br bg-gradient-to-r from-[#4FD1C5] to-[#38B2AC] dark:from-[#63b3ed] dark:to-[#4299e1] hover:from-[rgba(79,209,197,0.8)] hover:to-[rgba(56,178,172,0.8)] focus:ring focus:ring-[#4FD1C5] focus:ring-opacity-50 active:from-[rgba(56,178,172,0.8)] active:to-[rgba(79,209,197,0.8)] dark:text-white decoration-none leading-4 font-700 text-2xl md:text-3xl font-mono"
      >
        <div
          class="i-fluent-emoji-framed-picture h-12 w-12 text-green font-bold"
        >
        </div>
         UltraImage
      </a>
      <div class="flex mr-4 items-right lg:hidden">
        <ToggleMenu />
      </div>
    </div>

    <nav
      class="relative bottom-0 items-center contents w-full sm:w-auto hidden lg:flex justify-between"
      aria-label="Main navigation"
    >
      <ul
        class="flex hidden relative before:content-empty before:absolute before:inset-[-1px] before:bg-green before:dark:bg-blue rounded-md before:rounded-md before:z-[-1] flex-col gap-5 lg:flex-row text-base leading-6 list-none p-4 bg-gray-100 dark:bg-gray-100 border-b border-gray-800 mr-auto"
      >
        <li class="text-gray-700">
          Converted to Webp: <span class="totalFilesConverted"></span>
        </li>
        <li class="text-gray-700">
          Total: <span class="totalSizeConverted"></span>
        </li>
      </ul>
    </nav>
  </div>
</header>

<script>
document.addEventListener("DOMContentLoaded", function() {
    interface SSEData {
        totalFilesConverted?: number;
        totalSizeConverted?: number;
    }

    let sseData: SSEData = {};
    let eventSource: EventSource | null = null;

    function openSSE() {
        eventSource = new EventSource("https://webp.qlm.one/sse");
        eventSource.onmessage = function (event: MessageEvent) {
            sseData = JSON.parse(event.data);
            updateDisplay();
        };
        eventSource.onerror = function () {
            console.error("EventSource failed, reconnecting...");
            eventSource?.close();
            setTimeout(openSSE, 1000);
        };
    }

    function updateDisplay() {
        const totalFilesConverted = sseData.totalFilesConverted || 0;
        const totalSizeConverted = sseData.totalSizeConverted || 0;
        const sizeUnit = Math.floor(Math.log(totalSizeConverted) / Math.log(1024));
        const totalSizeFormatted = (totalSizeConverted / Math.pow(1024, sizeUnit)).toFixed(2);
        const byteUnits = ["Bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"];
        const sizeLabel = byteUnits[sizeUnit];

        const fileElements = document.getElementsByClassName("totalFilesConverted");
        const sizeElements = document.getElementsByClassName("totalSizeConverted");

        for (let i = 0; i < fileElements.length; i++) {
            fileElements[i].textContent = totalFilesConverted.toString();
            sizeElements[i].textContent = `${totalSizeFormatted} ${sizeLabel}`;
        }
    }

    openSSE();
});

</script>
