---
import ToggleMenu from "./ToggleMenu.astro";
---

<header
  class="font-mono  fixed bottom-0 z-40 flex-none mx-auto w-[97%] rounded-md bg-white dark:bg-[#050505]/20"
  id="header"
  style="transition: transform 0.5s ease 0s; transform: translateY(0px);"
>
  <div class="mx-auto lg:flex lg:justify-between md:px-4">
    <div class="flex top-0 gap-2 px-4 py-6 justify-between">
      <a
        href="/"
        class="flex gap-2 items-center text-transparent bg-clip-text bg-gradient-to-br bg-gradient-to-r from-[#4FD1C5] to-[#38B2AC] dark:from-[#63b3ed] dark:to-[#4299e1] hover:from-[rgba(79,209,197,0.8)] hover:to-[rgba(56,178,172,0.8)] focus:ring focus:ring-[#4FD1C5] focus:ring-opacity-50 active:from-[rgba(56,178,172,0.8)] active:to-[rgba(79,209,197,0.8)] dark:text-white decoration-none leading-4 font-700 text-2xl md:text-3xl font-mono"
      >
        <div
          class="i-fluent-emoji-framed-picture h-12 w-12 text-green font-bold"
        >
        </div>
         UltraImage
      </a>
      <div class="flex mr-4 items-right lg:hidden">
        <ToggleMenu />
      </div>
    </div>

    <nav
      class="relative bottom-0 items-center contents w-full sm:w-auto hidden lg:flex justify-between"
      aria-label="Main navigation"
    >
      <ul
        class="flex hidden relative before:content-empty before:absolute before:inset-[-1px] before:bg-green before:dark:bg-blue rounded-md before:rounded-md before:z-[-1] flex-col gap-5 lg:flex-row text-base leading-6 list-none p-4 bg-gray-100 dark:bg-gray-100 border-b border-gray-800 mr-auto"
      >
        <li class="text-gray-700">
          Converted to Webp: <span class="totalFilesConverted"></span>
        </li>
        <li class="text-gray-700">
          Total: <span class="totalSizeConverted"></span>
        </li>
      </ul>
    </nav>
  </div>
</header>


