---
interface Props {
  title: string;
  lang: string;
}
import { ViewTransitions } from "astro:transitions";
import Footers from "@components/Footers.astro";

import Navs from "../components/Navs.astro";
const { title, lang } = Astro.props;
---

<!doctype html>
<html lang={lang} class="motion-safe:scroll-smooth 2xl:text-[20px]">
  <head>
    <ViewTransitions transition:animate="fade" />

    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-mono m-0 p-0">
    <Navs />
    <div class="px-8 pt-18 mx-auto max-w-7xl">

      <slot /></div>
  <Footers />
    
<!--  <script>
  // Fungsi untuk mengatur perilaku WhatsApp button
  const setupWhatsAppButtonBehavior = () => {
    const whatsappButton = document.getElementById("whatsapp-buttons");
    const toggleButton = document.getElementById("toggle-whatsapp");

    const showWhatsAppButton = () => {
      whatsappButton.classList.remove("fade-out");
      whatsappButton.classList.add("fade-in");
      whatsappButton.style.display = "block";
      toggleButton.style.display = "none";
    };

    const hideWhatsAppButton = () => {
      whatsappButton.classList.remove("fade-in");
      whatsappButton.classList.add("fade-out");
      setTimeout(() => {
        whatsappButton.style.display = "none";
        toggleButton.style.display = "block";
      }, 500);
    };

    toggleButton.addEventListener("click", showWhatsAppButton);

    document.addEventListener("click", (event) => {
      const isClickInsideElement = whatsappButton.contains(event.target) || toggleButton.contains(event.target);
      if (!isClickInsideElement) {
        hideWhatsAppButton();
      }
    });

    toggleButton.addEventListener("click", (event) => {
      event.stopPropagation();
    });
  };

  // Jalankan pada navigasi awal
  setupWhatsAppButtonBehavior();

  // Jalankan pada transisi tampilan navigasi
  document.addEventListener('astro:after-swap', setupWhatsAppButtonBehavior);
</script> -->

  </body>
</html>
